.stock_badge {
    background-color: lightpink;
    border-radius: 3px;
}

#product_list tr:nth-child(odd) {
    background-color: lightgrey;
}

#product_list tr:hover {
    background-color: lightseagreen;
}