<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block scripts %}{% endblock %}
        <link rel="stylesheet" href="/static/base.css">
        {% block styles %}{% endblock %}
        <title>Wedding Gift List {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <a href="/"><h1>Wedding gift list</h1></a>
            <a href="/add_gift.html">Add a gift</a><a href="/gift_report.html">Gift Report</a>
        </nav>    
        <content id="content">{% block content %}{% endblock %}</content>
    </body>
</html>